{
  "presets": [ "es2015", "stage-1"],

  // "plugins": ["transform-runtime"],
  // "plugins": ["transform-decorators-legacy"],

  "env": {
    "build": {
      "optional": ["optimisation", "minification"]
    }
  }
}
